body .container {
    margin-top:12px;
}

dd { margin-bottom:1em; }

/* Basic margins*/
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/* Basic styles */
.bold { font-weight:bold; }
.favorite { color:#d9534f !important; }

/* Loading indicator */
#veil {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width:100%;
	background: #fff;
}

#loading {
	position: absolute;
	top:200px;
	width:100%;
	text-align: center;
    line-height:2em;
	font-size: 1em;
	color:black;
}

/* Table pager */
div.ng-table-pager.ng-scope {
    margin-top:10px;
}

.ng-table-pager .btn {
    padding:2px 6px;
}

.pagination {
    margin:0 !important;
}